docify==1.2.0

typing-extensions==4.15.0

Authlib==1.7.2
pyxdg==0.28.*
django-import-export==4.4.*
et_xmlfile==2.0.*
python-jenkins~=1.8.3
toposort==1.10
google-cloud-ndb==2.4.*
netifaces==0.11.*
pywin32==312.*
Deprecated~=1.3.1
jsonnet==0.22.*
retry==0.9.*
pika==1.4.*
gevent==26.8.*
mysqlclient==2.2.*
jwcrypto==1.6.0
binaryornot==0.4.*
ephem==4.2.*
rasterio==1.5.1
python-nmap==0.7.*
simple-websocket==1.1.*
jmespath==1.1.*
usersettings==1.1.*
PySocks==1.7.1
aws-xray-sdk==2.15.*
flake8-rst-docstrings==0.4.*
click-spinner==0.1.11
watchpoints==0.2.5
PyScreeze==1.0.1
defusedxml==0.7.*
chevron==0.14.*
netaddr==1.3.*
JACK-Client==0.5.*
grpcio-channelz==1.*
psycopg2==2.9.12
toml==0.10.*
titlecase==2.4.*
objgraph==3.6.*
python-jose==3.5.*
first==2.0.*
singledispatch==4.1.*
networkx==3.6.1
click-default-group==1.2.*
tzdata==2026.*
untangle==1.2.*
colorful==0.5.*
yt-dlp==2026.8.19
pep8-naming==0.15.*
colorama==0.4.*
zstd~=1.5.7.3
greenlet==3.5.*
RPi.GPIO==0.7.*
httplib2==0.32.0
requests[socks]~=2.33.0
Send2Trash==2.1.*
Jetson.GPIO==2.1.13
lupa==2.8.*
flake8-typing-imports==1.17.*
pyluach==2.3.*
waitress~=3.0.1
parsimonious==0.11.*
bleach[css]==6.4.*
wurlitzer==3.1.*
click-web==0.8.*
s2clientprotocol==5.*
inifile==0.4.*
WTForms~=3.2.1
reportlab[pycairo]==4.5.1
flake8-simplify==0.30.*
kafka-python==3.0.11
pexpect==4.9.*
pyserial[cp2110]==3.5.*
editdistance==0.8.*
dateparser[fasttext,langdetect]==1.4.2
unidiff==0.7.*
lzstring==1.0.*
geopandas==1.1.4
pycocotools==2.0.*
pytz==2026.3.post1
tqdm[slack,telegram]==4.70.*
TgCrypto==1.2.*
pyinstaller~=6.22.1
braintree==4.46.*
whatthepatch==1.0.*
auth0-python==4.10.*
flake8-builtins==3.1.*
entrypoints==0.4.*
antlr4-python3-runtime==4.13.*
grpcio~=1.83.0
grpcio-reflection==1.*
flake8==7.3.*
pyasn1==0.6.*
passpy==1.0.*
xmltodict~=1.0.1
shapely==2.1.*
requests-oauthlib==2.0.*
flake8-bugbear==25.11.29
docutils==0.23
Markdown~=3.10.2
slumber==0.7.*
pytest-lazy-fixture==0.6.*
fanstatic==1.7.*
ldap3==2.9.*
python-xlib==0.33.*
protobuf~=7.35.1
mypy-extensions==1.1.*
seaborn==0.13.2
django-filter==26.1.*
str2bool==1.1
opentracing==2.4.*
pycurl==7.47.0
python-http-client==3.3.7
pyphen==0.18.1
qrcode[pil]==8.2.*
hdbcli==2.29.*
geojson==3.3.0
flake8-docstrings==1.7.*
gdb==16.3.*
xlrd==2.0.*
nanoid==2.0.0
vobject~=0.9.9
PyYAML==6.0.*
pynput~=1.8.1
punq==0.8.*
psutil==7.2.2
ttkthemes==3.3.*
pyperclip==1.11.*
Flask-Migrate==4.1.*
python-crontab==3.4.*
pyfarmhash==0.5.*
channels==4.3.*
datauri==1.1.*
cachetools==7.0.*
dirhash==0.5.*
behave==1.3.*
python-dateutil==2.9.*
webencodings==0.6.*
m3u8==6.0.*
pycups==2.0.*
croniter==6.2.4
grpcio-health-checking==1.*
pyaudio==0.2.*
uWSGI==2.0.*
click-shell==2.1
mock==5.2.*
Pygments==2.21.*
decorator==5.2.*
ratelimit==2.2.*
zxcvbn==4.5.*
convertdate==2.4.1
WebTest==3.0.*
keyboard==0.13.*
jsonschema[format]~=4.26.0
atheris==3.1.*
setuptools==84.0.*
pyogrio==0.13.*
pony~=0.7.20
Flask-SocketIO==5.6.*
pyjks==20.0.*
xdgenvpy==3.0.*
www-authenticate==0.9.*
portpicker==1.6.*
pyflakes==3.4.*
tensorflow~=2.18.0
docker==7.2.*
regex==2026.9.3
assertpy==1.1.*
cffi==2.1.*
grpcio-status==1.*
scp==0.16.*
nanoleafapi==2.1.*
oauthlib==3.3.*
tinycss2==1.5.1
PyMySQL==1.2.*
qrbill==1.2.*
tabulate==0.10.*
console-menu==0.8.*
xmldiff==3.0.*
peewee==4.4.0
hvac==2.4.*
html5lib[all]==1.1.*
dockerfile-parse==2.0.*
rfc3339-validator==0.1.*
paramiko==5.0.*
polib==1.2.*
hnswlib==0.8.*
WebOb~=1.8.11
translationstring==1.4.*
capturer==3.0.*
simplejson==4.1.*
aiofiles==25.1.*
olefile==0.47.*
openpyxl==3.1.5
httpretty==1.1.4
boltons==26.1.*
click-log==0.4.*
ibm-db==3.3.0
PyMeeus==0.5.*
resampy==0.4.*
gunicorn==26.2.0
lunardate==0.3.*
six==1.17.*
workalendar==17.0.*
PyAutoGUI==0.9.*
Flask-Cors==6.0.3
