docify==1.2.0

typing-extensions==4.15.0

capturer==3.0.*
flake8-simplify==0.30.*
jmespath==1.1.*
jsonnet==0.22.*
antlr4-python3-runtime==4.13.*
Markdown~=3.10.2
unidiff==0.7.*
str2bool==1.1
psycopg2==2.9.12
python-nmap==0.7.*
protobuf~=7.34.1
pycocotools==2.0.*
slumber==0.7.*
netifaces==0.11.*
grpcio-health-checking==1.*
channels==4.3.*
pika==1.4.*
objgraph==3.6.*
PyYAML==6.0.*
Flask-Cors==6.0.*
reportlab[pycairo]==4.5.1
watchpoints==0.2.5
click-shell==2.1
dirhash==0.5.*
auth0-python==4.10.*
rfc3339-validator==0.1.*
regex==2026.5.9
requests-oauthlib==2.0.*
parsimonious==0.11.*
waitress~=3.0.1
entrypoints==0.4.*
toml==0.10.*
shapely==2.1.*
flake8-typing-imports==1.17.*
django-import-export==4.4.*
keyboard==0.13.*
jsonschema[format]~=4.26.0
cachetools==7.0.*
polib==1.2.*
portpicker==1.6.*
Jetson.GPIO==2.1.12
flake8-builtins==3.1.*
pysftp==0.2.*
PyMySQL==1.1.*
convertdate==2.4.1
grpcio==1.*
assertpy==1.1.*
translationstring==1.4.*
mock==5.2.*
pytz==2026.2
singledispatch==4.1.*
lzstring==1.0.*
httplib2==0.31.2
pony==0.7.*
zstd~=1.5.7.3
google-cloud-ndb==2.4.*
tzdata==2026.*
tqdm[slack,telegram]==4.67.3
PyAutoGUI==0.9.*
ratelimit==2.2.*
first==2.0.*
flake8-docstrings==1.7.*
mysqlclient==2.2.*
jwcrypto==1.5.7
cffi==2.0.*
paramiko==4.0.*
seaborn==0.13.2
xmltodict~=1.0.1
boltons==25.0.*
Flask-SocketIO==5.6.*
toposort==1.10
resampy==0.4.*
greenlet==3.5.*
python-crontab==3.3.*
whatthepatch==1.0.*
defusedxml==0.7.*
olefile==0.47.*
pyjks==20.0.*
django-filter==25.2.*
fanstatic==1.7.*
netaddr==1.3.*
qrbill==1.2.*
et_xmlfile==2.0.*
flake8-rst-docstrings==0.4.*
pynput~=1.8.1
pyxdg==0.28.*
PyScreeze==1.0.1
yt-dlp==2026.3.17
ibm-db==3.2.8
croniter==6.2.2
python-jenkins~=1.8.3
gunicorn==26.0.0
pexpect==4.9.*
dateparser[fasttext,langdetect]~=1.4.0
JACK-Client==0.5.*
aws-xray-sdk==2.15.*
grpcio-channelz==1.*
oauthlib==3.3.*
pyaudio==0.2.*
ldap3==2.9.*
simple-websocket==1.1.*
console-menu==0.8.*
tinycss2==1.5.1
python-xlib==0.33.*
hnswlib==0.8.*
Pygments==2.20.*
pyperclip==1.11.*
usersettings==1.1.*
openpyxl==3.1.5
pycurl==7.46.0
grpcio-reflection==1.*
punq==0.7.*
flake8==7.3.*
six==1.17.*
pyasn1==0.6.*
colorama==0.4.*
datauri==1.1.*
qrcode[pil]==8.2.*
gdb==16.3.*
WebOb==1.8.*
setuptools==82.0.*
inifile==0.4.*
PyMeeus==0.5.*
zxcvbn==4.5.*
pyluach==2.3.*
retry==0.9.*
xlrd==2.0.*
m3u8==6.0.*
ephem==4.2.*
RPi.GPIO==0.7.*
PySocks==1.7.1
binaryornot==0.4.*
python-jose==3.5.*
docutils==0.22.3
pyflakes==3.4.*
wurlitzer==3.1.*
html5lib[all]==1.1.*
click-spinner==0.1.*
nanoid==2.0.0
simplejson==3.20.*
uWSGI==2.0.*
xmldiff==2.7.*
s2clientprotocol==5.*
geopandas==1.1.3
flake8-bugbear==25.11.29
WTForms~=3.2.1
click-web==0.8.*
python-http-client==3.3.7
pywin32==311.*
dockerfile-parse==2.0.*
Send2Trash==2.1.*
www-authenticate==0.9.*
Deprecated~=1.3.1
pyphen==0.17.2
tensorflow~=2.18.0
click-default-group==1.2.*
lunardate==0.2.*
colorful==0.5.*
nanoleafapi==2.1.*
tabulate==0.10.*
fpdf2==2.8.4
behave==1.3.*
grpcio-status==1.*
gevent==26.4.*
mypy-extensions==1.1.*
xdgenvpy==3.0.*
requests[socks]~=2.33.0
opentracing==2.4.*
click-log==0.4.*
pyserial[cp2110]==3.5.*
ttkthemes==3.3.*
braintree==4.43.*
icalendar==6.3.2
untangle==1.2.*
psutil==7.2.2
python-dateutil==2.9.*
aiofiles==25.1.*
hvac==2.4.*
lupa==2.6.*
decorator==5.2.*
atheris==3.0.*
hdbcli==2.25.*
docker==7.1.*
networkx==3.6.1
chevron==0.14.*
editdistance==0.8.*
workalendar==17.0.*
pyinstaller==6.20.*
Flask-Migrate==4.1.*
bleach[css]==6.3.*
pytest-lazy-fixture==0.6.*
TgCrypto==1.2.*
peewee==4.0.5
pyfarmhash==0.4.*
pep8-naming==0.15.*
passpy==1.0.*
webencodings==0.5.*
Authlib==1.6.11
vobject~=0.9.9
