docify==1.2.0

typing-extensions==4.15.0

Deprecated~=1.3.1
pynput~=1.8.1
retry==0.9.*
pyfarmhash==0.4.*
netaddr==1.3.*
ldap3==2.9.*
et_xmlfile==2.0.*
mock==5.2.*
flake8-simplify==0.30.*
shapely==2.1.*
singledispatch==4.1.*
auth0-python==4.10.*
reportlab[pycairo]==4.5.1
aws-xray-sdk==2.15.*
translationstring==1.4.*
seaborn==0.13.2
hnswlib==0.8.*
hdbcli==2.25.*
pyaudio==0.2.*
fanstatic==1.7.*
psycopg2==2.9.12
datauri==1.1.*
RPi.GPIO==0.7.*
tensorflow~=2.18.0
pytest-lazy-fixture==0.6.*
pexpect==4.9.*
mysqlclient==2.2.*
icalendar==6.3.2
PySocks==1.7.1
passpy==1.0.*
hvac==2.4.*
console-menu==0.8.*
pyxdg==0.28.*
PyMeeus==0.5.*
Jetson.GPIO==2.1.12
braintree==4.44.*
behave==1.3.*
tinycss2==1.5.1
xmltodict~=1.0.1
dateparser[fasttext,langdetect]~=1.4.1
jmespath==1.1.*
mypy-extensions==1.1.*
flake8==7.3.*
click-spinner==0.1.*
scp==0.15.*
click-shell==2.1
www-authenticate==0.9.*
polib==1.2.*
html5lib[all]==1.1.*
python-http-client==3.3.7
greenlet==3.5.*
atheris==3.0.*
qrbill==1.2.*
docutils==0.22.3
webencodings==0.5.*
gevent==26.4.*
grpcio-health-checking==1.*
ephem==4.2.*
TgCrypto==1.2.*
zxcvbn==4.5.*
rfc3339-validator==0.1.*
wurlitzer==3.1.*
flake8-docstrings==1.7.*
kafka-python==2.3.2
flake8-builtins==3.1.*
simple-websocket==1.1.*
protobuf~=7.34.1
toml==0.10.*
cffi==2.0.*
WTForms~=3.2.1
ttkthemes==3.3.*
untangle==1.2.*
requests-oauthlib==2.0.*
entrypoints==0.4.*
pyjks==20.0.*
slumber==0.7.*
dirhash==0.5.*
s2clientprotocol==5.*
docker==7.1.*
Flask-Cors==6.0.3
google-cloud-ndb==2.4.*
colorful==0.5.*
Pygments==2.20.*
PyMySQL==1.1.*
qrcode[pil]==8.2.*
boltons==25.0.*
pytz==2026.2
WebOb==1.8.*
convertdate==2.4.1
xdgenvpy==3.0.*
yt-dlp==2026.3.17
requests[socks]~=2.33.0
cachetools==7.0.*
flake8-bugbear==25.11.29
oauthlib==3.3.*
zstd~=1.5.7.3
pyinstaller==6.21.*
m3u8==6.0.*
grpcio-channelz==1.*
str2bool==1.1
aiofiles==25.1.*
pyluach==2.3.*
openpyxl==3.1.5
pika==1.4.*
python-dateutil==2.9.*
resampy==0.4.*
jsonnet==0.22.*
pyserial[cp2110]==3.5.*
croniter==6.2.2
editdistance==0.8.*
uWSGI==2.0.*
geopandas==1.1.3
toposort==1.10
fpdf2==2.8.4
Markdown~=3.10.2
assertpy==1.1.*
ratelimit==2.2.*
pony==0.7.*
tabulate==0.10.*
punq==0.7.*
flake8-rst-docstrings==0.4.*
lunardate==0.2.*
grpcio-reflection==1.*
pyphen==0.17.2
whatthepatch==1.0.*
click-web==0.8.*
JACK-Client==0.5.*
python-crontab==3.3.*
psutil==7.2.2
tqdm[slack,telegram]==4.68.*
PyScreeze==1.0.1
parsimonious==0.11.*
grpcio==1.*
Send2Trash==2.1.*
grpcio-status==1.*
inifile==0.4.*
click-log==0.4.*
flake8-typing-imports==1.17.*
objgraph==3.6.*
capturer==3.0.*
jsonschema[format]~=4.26.0
gdb==16.3.*
pep8-naming==0.15.*
bleach[css]==6.4.*
Flask-SocketIO==5.6.*
nanoid==2.0.0
first==2.0.*
click-default-group==1.2.*
python-nmap==0.7.*
pyasn1==0.6.*
xmldiff==2.7.*
defusedxml==0.7.*
channels==4.3.*
pycocotools==2.0.*
workalendar==17.0.*
peewee==4.0.5
waitress~=3.0.1
decorator==5.2.*
PyYAML==6.0.*
netifaces==0.11.*
portpicker==1.6.*
WebTest==3.0.*
pycurl==7.46.0
python-jose==3.5.*
dockerfile-parse==2.0.*
unidiff==0.7.*
python-xlib==0.33.*
pyflakes==3.4.*
antlr4-python3-runtime==4.13.*
gunicorn==26.0.0
ibm-db==3.2.9
python-jenkins~=1.8.3
Authlib==1.6.11
setuptools==82.0.*
jwcrypto==1.5.7
colorama==0.4.*
binaryornot==0.4.*
chevron==0.14.*
httplib2==0.31.2
six==1.17.*
tzdata==2026.*
watchpoints==0.2.5
pyperclip==1.11.*
PyAutoGUI==0.9.*
nanoleafapi==2.1.*
networkx==3.6.1
vobject~=0.9.9
regex==2026.5.9
usersettings==1.1.*
keyboard==0.13.*
django-import-export==4.4.*
lupa==2.6.*
Flask-Migrate==4.1.*
olefile==0.47.*
simplejson==3.20.*
lzstring==1.0.*
paramiko==5.0.*
pywin32==312.*
xlrd==2.0.*
django-filter==25.2.*
opentracing==2.4.*
